{% extends "@EasyAdmin/page/content.html.twig" %}   

{% block content %}
  <script src="https://kit.fontawesome.com/6ddde329a5.js" crossorigin="anonymous"></script>
  <h1 class="text-center" >Bienvenue dans le backoffice des employés</h1>
{% endblock %}